<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bikecarservice">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BikeCarService">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAstRLiJWR9LOpxICg2CdXkGFbTZSV41BA" />

        <activity
            android:name=".vehicleOwner.ShowServiceCentreLocation"
            android:exported="true" />
        <activity
            android:name=".vehicleOwner.ServiceCompleted"
            android:exported="true" />
        <activity
            android:name=".vehicleOwner.ViewServiceStation"
            android:exported="true" />
        <activity
            android:name=".serviceCentre.ViewService"
            android:exported="true" />
        <activity
            android:name=".serviceCentre.ServiceRegister"
            android:exported="true" />
        <activity
            android:name=".vehicleOwner.UserDashboard"
            android:exported="true" />
        <activity
            android:name=".vehicleOwner.UserResetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".vehicleOwner.UserRegister"
            android:exported="true" />
        <activity
            android:name=".vehicleOwner.UserLogin"
            android:exported="true" />
        <activity
            android:name=".serviceCentre.ServiceResetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".serviceCentre.ServiceDashboard"
            android:exported="true" />
        <activity
            android:name=".serviceCentre.ServiceLogin"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>